<ol class="post-list">
  {{#each post}}
    <li>
      <article class="post">
        <div class="title">
          <a href="/post/{{id}}">{{title}}</a>
          <p>posted by {{user.username}} on {{created_at}}</p>
        </div>
        <div class="meta">
          <p>{{content}}</p>
        </div>
      </article>
    </li>
  {{/each}}
</ol>